{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
<div id="blog-list">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Blog</h1>
                <form class="" action='{{ path('blog_buscar') }}' style="margin-bottom: 20px;">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search..." name='searchTerm' value="{{ searchTerm is defined ? searchTerm : '' }}">
                        <span class="input-group-btn">
                            <button type='submit' class="btn btn-default"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </form>
                <hr>
            </div>
        </div>
        <div class="row">
            {% for post in posts %}
                {{ include ('partials/_post.html.twig', {'post': post}) }}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
